<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actions</title>
</head>
<body>
    <h1>Actions</h1>
    <form method="POST" action="/actions">
        <input type="submit" name="action" value="Check Login"><br><br>
        <input type="submit" name="action" value="Check Dictionary Login"><br><br>
        <a href="/">Go Back</a>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for messages in messages %}
                <p>{{ messages }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>

