<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <h1>Security Scanner</h1>
    <form action="/login" method="post">
        <label for="url">Website URL:</label>
        <input type="text" id="url" name="url" required><br><br>
        <label for="username">Username(optional):</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password(optional):</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>


